:root {
  --color-sherpa-blue: hsla(195, 97%, 13%, 1);

  --color-sherpa-cerulean: hsla(182, 87%, 39%, 1);
  --color-sherpa-inchworm: hsla(84, 92%, 71%, 1);
  --color-santa-grey: hsla(270, 5%, 65%);
  --color-lynch: hsla(211, 12%, 48%, 1);

  --color-silver-sand: hsla(204, 8%, 76%, 1);
  --color-mystic: hsla(213, 24%, 93%, 1);

  --ff-outfit-regular: 'Outfit';
  --ff-outfit-extra-light: 'Outfit ExtraLight';

  --ff-outfit-bold: 'Outfit Bold';

  --fz-18: 1.8rem;
  --fz-20: 2rem;
  --fz-50: 5rem;

  --fw-bold: 700;
  --fw-regular: 400;
  --fw-extra-light: 200;
}

@font-face {
  font-family: var(--ff-outfit-regular);
  src: url('assets/fonts/Outfit-Regular.ttf') format('truetype');
}
@font-face {
  font-family: var(--ff-outfit-extra-light);
  src: url('assets/fonts/Outfit-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: var(--ff-outfit-bold);
  src: url('assets/fonts/Outfit-Bold.ttf') format('truetype');
}

html {
  --base-font-size: 62.5%;
  box-sizing: border-box;

  font-family: var(--ff-outfit-regular), sans-serif;
  font-size: var(--base-font-size);
  font-synthesis: none;
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: unset;
  padding: unset;
}

body {
  background: var(--color-sherpa-blue);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-outfit-bold), sans-serif;
  line-height: 1;
  font-weight: var(--fw-bold);
}
button {
    border: none;
    outline: none;
    cursor: pointer;
  font-family: var(--ff-outfit-extra-light);
  font-size: var(--fz-18);
  font-weight: var(--fw-extra-light);
  color: var(--color-sherpa-blue);
}
.d--flex {
  display: flex;
}
.d--flex-align-center{
    align-items: center;
}
.d--flex-justify-center{
    justify-content: center;
}
.container {
  height: 1050px;

}
.content__wrapper {
  background-color: hsla(355, 50%, 54%, 1);
  height: 70%;
  width: 80vmax;
  max-width: 600px;
  padding: 2em 0;
  margin: 0 auto;
  border-radius: 2em;
}
.header {
  margin-bottom: 1.5em;
}

.header h1 {
  font-size: var(--fz-50);
  text-align: center;
  color: var(--color-sherpa-inchworm);
}

.grid__wrapper {
  background-color: var(--color-silver-sand);
  height: 500px;
  width: 500px;
  margin: 0 auto 2.5em;
  display: grid;
}

.grid {
  border: 1px solid var(--color-lynch);
}
.grid__small {
  height: 40px;
  width: 40px;
}
.grid__medium {
  height: 16px;
  width: 16px;
}
.grid__large {
  height: 10px;
  width: 10px;
}

.controls {
    flex-direction: column;
    color: var(--color-mystic);       
}
.controls h2 {
    font-size: var(--fz-20);
}
.grid__size, .colors{
    gap: 1em;
    margin-bottom: 1.5em;

}
.btn {
    display: inline-block;
    background-color: var(--color-sherpa-cerulean);
    padding: 0.2em .8em;
    border-radius: 0.3em;
    box-shadow: 1px 2px 5px var(--color-sherpa-blue);        
}
.selected {
    background-color: var(--color-sherpa-inchworm);
    box-shadow: 1px 2px 5px var(--color-sherpa-inchworm);        
}